.idea
/PetPortal-Back/.idea

/PetPortal-Back/PetPortal.API/bin/
/PetPortal-Back/PetPortal.API/obj/

/PetPortal-Back/PetPortal.Core/bin/
/PetPortal-Back/PetPortal.Core/obj/

/PetPortal-Back/PetPortal.Application/bin/
/PetPortal-Back/PetPortal.Application/obj/

/PetPortal-Back/PetPortal.DAL/bin/
/PetPortal-Back/PetPortal.DAL/obj/